<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>
  <body>

    <h1>Welcom to <%= title %></h1>
    <p><%= message %></p>

  </body>
</html>